<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BookMyFlight</title>
    <link rel="stylesheet" href="/css/master.css" />
  </head>
  <body>
    <img src="/images/logo.png" alt="logo" />
    <img src="/images/trio.png" alt="trio" />
    <img src="/images/windows.png" alt="windows" />
    <p style="font-size: 100px">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Porro possimus
      consequatur itaque nemo amet. Explicabo quos enim repudiandae vel. Atque
      hic, asperiores excepturi amet natus eaque repellendus omnis sint
      delectus?
    </p>
    <p style="font-size: 100px">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur culpa
      perspiciatis eveniet assumenda voluptatum est, sint laborum in officia
      harum ex incidunt laudantium nisi ipsa, dolorem nesciunt obcaecati saepe
      corrupti.
    </p>
  </body>
</html>
